body {
    margin: 0;
    // background: #eee;
}
// * {
//     box-sizing: border-box;
// }
.hyc-wrapper {
    display: flex;
    flex-direction: row;

    .customize-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        .customize-operate-wrapper,
        .customize-search-wrapper,
        .customize-table-wrapper {
            border-radius: 3px;
            .title {
                // 区域名 ： 按钮操作区域
                margin-right: auto;
            }
        }
        .customize-operate-wrapper {
        }
        .customize-search-wrapper {
        }
        .customize-table-wrapper {
        }
    }
}
