body {
    margin: 0;
    // background: #eee;
}
// * {
//     box-sizing: border-box;
// }
.hyc-wrapper {
    display: flex;
    flex-direction: row;

    .customize-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .customize-operate-wrapper,
        .customize-search-wrapper,
        .customize-table-wrapper {
            // background: #fff;
            padding: 0.5rem 0.5rem 0;
            border-radius: 3px;
            // flex: 0 0 100px;
            font-family: sans-serif;
            margin: 0.5rem 0.5rem 1.5rem;

            .title {
                // 区域名 ： 按钮操作区域
                margin-right: auto;
            }
        }
        .customize-operate-wrapper {
            // min-height: 148px;
            // display: flex;
            // justify-content: flex-end;
            // align-items: flex-start;
        }
        .customize-search-wrapper {
            // min-height: 72px;
        }
        .customize-table-wrapper {
            // min-height: auto;
        }
    }
}
