@import '../../less/index.less';

.hyc-wrapper {
    display: flex;
    flex-direction: row;

    .create-code {
        position: absolute;
        top: 75px;
        right: 0px;
        &.ant-btn {
            margin: 0 8px;
        }
    }

    .customize-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        & > div {
            background-color: #fff;
            border-radius: 8px;
            .title {
                // 区域名 ： 按钮操作区域
                margin-right: auto;
                padding: 16px;
            }
        }
        .customize-table-wrapper {
            min-height: 300px;
        }
    }
}

.show-code-modal {
    width: 600px !important;
}

.table-columns-config {
    .ant-form-item {
        margin-bottom: 8px !important;
    }
}
