@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_319369_cy5em0e9xro.eot');
  src: url('//at.alicdn.com/t/font_319369_cy5em0e9xro.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_319369_cy5em0e9xro.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_319369_cy5em0e9xro.woff') format('woff'),
    url('//at.alicdn.com/t/font_319369_cy5em0e9xro.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_319369_cy5em0e9xro.svg#iconfont') format('svg');
}
.iconfont {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  font-style: normal;
  font-family: 'iconfont';
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
del,
dfn,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  font: 16px/1.2 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica',
    'STHeitiSC-Light', 'Arial', sans-serif;
  color: #333;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
ul,
ol,
li {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: inline-block;
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  border: none;
}
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
button {
  padding: 0;
  outline: none;
  border-radius: 0;
  border: none;
}
.head-view {
  z-index: 1;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  text-align: right;
  font-size: 14px;
  background-color: #fff;
  color: #4b546e;
}
.head-view .user-portrait {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 12px;
}
.warp {
  position: relative;
  min-height: 100%;
}
.warp > .left-side-view {
  position: absolute;
  z-index: 2;
  left: 0;
  top: -70px;
  border-right: 1px solid #eee;
  background-color: #fff;
  width: 204px;
  color: #999;
  text-align: center;
  min-height: 110% !important;
}
.warp > .left-side-view .main-title {
  padding: 40px 0;
  color: #4b546e;
  font-size: 16px;
  position: fixed;
  height: 107px;
  width: 203px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  z-index: 999;
}
.warp > .left-side-view .main-title .icon-logo {
  display: inline-block;
  vertical-align: middle;
}
.warp > .main-content {
  padding-left: 204px;
  padding-bottom: 66px;
}
.warp > .main-content > .loading {
  text-align: center;
  color: #999;
  font-size: 14px;
  padding: 200px 0;
}
.warp > .main-content .crumbs .path-link {
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #a7a9a9;
  letter-spacing: 1.03px;
  line-height: 25px;
}
.warp > .main-content .crumbs .path-link:after {
  content: '\e60e';
  display: inline-block;
  font-family: 'iconfont';
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  font-style: normal;
}
.warp > .main-content .crumbs .path-link:last-child:after {
  content: '';
}
.warp.warp-full {
  width: 100%;
}
.warp.warp-full .main-content {
  padding-right: 40px;
}
input[type='number'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='text'],
button {
  outline: none;
}
input[type='textarea'],
button {
  outline: none;
}
input[type='number'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='text'] {
  display: inline-block;
  border: none;
  text-indent: 0.3rem;
  font-size: 0.42666667rem;
}
input[type='number']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 12px;
}
.J_left-side {
  height: 125vh !important;
  overflow-y: scroll !important;
}
.J_left-side .main-title {
  cursor: pointer;
}
.J_left-side .main-title .icon-logo {
  display: inline-block;
  vertical-align: middle;
}
.J_left-side .main-menu {
  text-align: left;
  font-size: 14px;
  margin-top: 107px;
}
.J_left-side .main-menu .main-item {
  position: relative;
}
.J_left-side .main-menu .main-item .iconfont {
  margin-right: 10px;
}
.J_left-side .main-menu .main-item > a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  color: #97a0ba;
}
.J_left-side .main-menu .main-item > a:hover {
  color: #17a8f1;
  background-color: #f8f8f8;
}
.J_left-side .main-menu .main-item .subset-menu {
  display: none;
  padding-left: 80px;
}
.J_left-side .main-menu .main-item .subset-menu .subset-menu-item > a {
  display: block;
  height: 34px;
  line-height: 34px;
  color: #97a0ba;
}
.J_left-side .main-menu .main-item .subset-menu .subset-menu-item > a:hover {
  color: #03a9f4;
}
.J_left-side .main-menu .main-item.active .subset-menu {
  display: block;
}
.J_left-side
  .main-menu
  .main-item.active
  .subset-menu
  .subset-menu-item.current
  > a {
  color: #4b546e;
}
.J_left-side .main-menu .main-item.active .main-item-link {
  box-sizing: border-box;
  background-color: #fafafa;
  border-right: 3px solid #03a9f4;
  color: #4b546e;
  font-weight: bold;
}
.J_left-side .main-menu .main-item.active .main-item-link .iconfont {
  color: #03a9f4;
}
.J_left-side .main-menu .unread {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f21900;
  border-radius: 8px;
  position: absolute;
  right: 75px;
  top: 18px;
}
body {
  background-color: #fff;
}
#root {
  min-height: 100%;
  overflow-x: hidden;
  background: #f4f8f9;
  width: 100%;
  overflow-y: hidden;
}
.router_platform {
  width: 100%;
}
.column-title-small {
  font-size: 12px;
  color: #708f9a;
  padding: 20px 40px;
  margin-top: 6px;
}
.crumbs {
  font-size: 20px;
}
.warp {
  background-color: #f4f8f9;
}
.warp .main-content {
  padding-bottom: 0;
}
.warp .main-content .content {
  position: relative;
  padding: 40px 30px 0px 30px !important;
  color: #5a5a5a;
}
